html {
  font-size: 16px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: grey;
}

footer {
 color: grey;
 background-color: grey;
 text-align:center;
}

#extra{

}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 4fr 0.5fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". header_mid ."
    ". termine ."
    ". footer_mid .";
}

.termine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "p5a p5 p5c"
    "p4a p4 p4c"
    "p3a p3 p3c"
    "p2a p2 p2c"
    "p1a p1 p1c"
    "p0a p0 p0c"
    "n1a n1 n1c"
    "n2a n2 n2c"
    "n3a n3 n3c"
    "n4a n4 n4c"
    "n5a n5 n5c";
  grid-area: termine;
}

.p0 { grid-area: p0;
		border: 3px solid black;
		text-align: left;
    color: white;
    font-size: 36px;}

.n1 { grid-area: n1;
		text-align: left;
    color: green;
    font-size: 31px;}

.n2 { grid-area: n2;
		text-align: left;
    color: green;
    font-size: 26px;}

.n3 { grid-area: n3;
		text-align: left;
    color: green;
    font-size: 21px;}

.n4 { grid-area: n4;
		text-align: left;
    color: green;
    font-size: 16px;}

.n5 { grid-area: n5;
		text-align: left;
    color: green;
    font-size: 11px;}

.p1 { grid-area: p1;
		text-align: left;
    color: red;
    font-size: 31px;}

.p2 { grid-area: p2;
		text-align: left;
    color: red;
    font-size: 26px;}

.p3 { grid-area: p3;
		text-align: left;
    color: red;
    font-size: 21px;}

.p4 { grid-area: p4;
		text-align: left;
    color: red;
    font-size: 16px;}

.p5 { grid-area: p5;
		text-align: left;
    color: red;
    font-size: 11px;}

.header_mid { grid-area: header_mid;
		text-align: center;
    color: white;}

.footer_mid { grid-area: footer_mid;
		text-align: center;
    color: white;}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 200px;

  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.popup > img {
  width:10%;
  height: auto;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
