html {
  font-size: 16px;
  background-color: grey;
  font-family: Tahoma, Geneva, sans-serif;
}

body {
  background-color: grey;
}

footer {
 color: blue;
 background-color: blue;
 text-align:center;
 height:10%;
 width:100%;
 top:2;
 right:0;
 
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr auto 2fr;
  grid-template-rows: auto 0.5fr auto;
  gap: 0px 0px;
  grid-template-areas:
    ". header_mid ."
    ". termine ."
    ". footer_mid .";
}

.termine {
  display: grid;
  grid-template-columns: auto 1fr 0.1fr 0.1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "pa5 pb5 pc5 pd5"
    "pa4 pb4 pc4 pd4"
    "pa3 pb3 pc3 pd3"
    "pa2 pb2 pc2 pd2"
    "pa1 pb1 pc1 pd1"
    "pa0 pb0 pc0 pd0"
    "na1 nb1 nc1 nd1"
    "na2 nb2 nc2 nd2"
    "na3 nb3 nc3 nd3"
    "na4 nb4 nc4 nd4"
    "na5 nb5 nc5 nd5";
  grid-area: termine;
}

.pa0 { grid-area: pa0;
		border: 3px solid orange;
		border-right:none;
		border-radius: 20% 0% 0% 20%;
		background: #F5F5F5;
		text-align: right;
		padding-right:20px;
		color: black;
		font-size: 36px;}

.na1 { grid-area: na1;
		text-align: right;
		padding-right:20px;
		color: black;
		font-size: 31px;}

.na2 { grid-area: na2;
		text-align: right;
		padding-right:20px;
		color: black;
		font-size: 26px;}

.na3 { grid-area: na3;
		text-align: right;
		padding-right:20px;
		color: black;
		font-size: 21px;}

.na4 { grid-area: na4;
		text-align: right;
		padding-right:20px;
		color: black;
		font-size: 16px;}

.na5 { grid-area: na5;
		text-align: right;
		padding-right:20px;
		color: black;
		font-size: 11px;}

.pa1 { grid-area: pa1;
		text-align: right;
		padding-right:20px;
		color: black;
		font-size: 31px;}

.pa2 { grid-area: pa2;
		text-align: right;
		padding-right:20px;
		color: black;
		font-size: 26px;}

.pa3 { grid-area: pa3;
		text-align: right;
		padding-right:20px;
		color: black;
		font-size: 21px;}

.pa4 { grid-area: pa4;
		text-align: right;
		padding-right:20px;
		color: black;
		font-size: 16px;}

.pa5 { grid-area: pa5;
		text-align: right;
		padding-right:20px;
		color: black;
		font-size: 11px;}

.pb0 { grid-area: pb0;
		padding-left:32.5%;
		border: 3px solid orange;
		border-right: none;
		border-left: none;
		background: #F5F5F5;
		text-align: left;
		color: black;
		font-size: 36px;}

.nb1 { grid-area: nb1;
        padding-left:32.5%;
		text-align: left;
		color: red;
		font-size: 31px;}

.nb2 { grid-area: nb2;
		padding-left:32.5%;
		text-align: left;
		color: red;
		font-size: 26px;}

.nb3 { grid-area: nb3;
		padding-left:32.5%;
		text-align: left;
		color: red;
		font-size: 21px;}

.nb4 { grid-area: nb4;
		padding-left:32.5%;
		text-align: left;
		color: red;
		font-size: 16px;}

.nb5 { grid-area: nb5;
		padding-left:32.5%;
		text-align: left;
		color: red;
		font-size: 11px;}

.pb1 { grid-area: pb1;
		padding-left:32.5%;
		text-align: left;
		color: green;
		font-size: 31px;}

.pb2 { grid-area: pb2;
		padding-left:32.5%;
		text-align: left;
		color: green;
		font-size: 26px;}

.pb3 { grid-area: pb3;
		padding-left:32.5%;
		text-align: left;
		color: green;
		font-size: 21px;}

.pb4 { grid-area: pb4;
		padding-left:32.5%;
		text-align: left;
		color: green;
		font-size: 16px;}

.pb5 { grid-area: pb5;
		padding-left:32.5%;
		text-align: left;
		color: green;
		font-size: 11px;}
		
.pc0 { grid-area:pc0;
		border: 3px solid orange;
		border-right: none;
		border-left: none;
		background: #F5F5F5;
		text-align: center;
		color: black;
	}

.nc1 { grid-area: nc1;
		text-align: left;
	    color: black;
	}

.nc2 { grid-area: nc2;
		text-align: left;
		color: black;
	}

.nc3 { grid-area: nc3;
		text-align: left;
		color: black;
	}

.nc4 { grid-area: nc4;
		text-align: left;
		color: black;
	}

.nc5 { grid-area: nc5;
		text-align: left;
		color: black;
	}

.pc1 { grid-area: pc1;
		text-align: left;
		color: black;
	}

.pc2 { grid-area: pc2;
		text-align: left;
		color: black;
	}

.pc3 { grid-area: pc3;
		text-align: left;
		color: black;
	}

.pc4 { grid-area: pc4;
		text-align: left;
		color: black;
		}

.pc5 { grid-area: pc5;
		text-align: left;
		color: black;
		}
		
.pd0 { grid-area: pd0;
		border: 3px solid orange;
		border-left:none;
		border-radius: 0% 20% 20% 0%;
		background: #F5F5F5;
		text-align: left;
	    color: black;

}

.nd1 { grid-area: nd1;
		text-align: left;
		color: red;
		font-size: 31px;}

.nd2 { grid-area: nd2;
		text-align: left;
		color: red;
		font-size: 26px;}

.nd3 { grid-area: nd3;
		text-align: left;
		color: red;
		font-size: 21px;}

.nd4 { grid-area: nd4;
		text-align: left;
		color: red;
		font-size: 16px;}

.nd5 { grid-area: nd5;
		text-align: left;
		color: red;
		font-size: 11px;}

.pd1 { grid-area: pd1;
		text-align: left;
		color: green;
		font-size: 31px;}

.pd2 { grid-area: pd2;
		text-align: left;
		color: green;
		font-size: 26px;}

.pd3 { grid-area: pd3;
		text-align: left;
		color: green;
		font-size: 21px;}

.pd4 { grid-area: pd4;
		text-align: left;
		color: green;
		font-size: 16px;}

.pd5 { grid-area: pd5;
		text-align: left;
		color: green;
		font-size: 11px;}

.header_mid { grid-area: header_mid;
		text-align: center;
    color: white;}

.footer_mid { grid-area: footer_mid;
		text-align: center;
        color: white;}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 200px;

  background-color: #555;
  color: #FFF;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.popup > img {
  width:100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 .editimg img{
  width:100%;
  height: auto;

 }
  
 .addimg img {
	 width:10%;
	 margin-bottom:0%;
	 height: auto;
 }
 
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

form {
	margin-top: 2%;
    text-align: center;
}

input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid orange;
  box-sizing: border-box;
  background-color: #F5F5F5;
  color: black;
}

input[type=date] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid orange;
  box-sizing: border-box;
  background-color: #F5F5F5;
  color: black;
}

input[type=time] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid orange;
  box-sizing: border-box;
  background-color: #F5F5F5;
  color: black;
}

input[type=text]:focus {
  border: 3px solid blue;
}

input[type=time]:focus {
  border: 3px solid blue;
}

input[type=date]:focus {
  border: 3px solid blue;
}

button[type=submit]{
	
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid orange;
  box-sizing: border-box;
  background-color: #555555;
  color: orange;
  cursor: pointer;
}



